body {
  color: white;
  font-family: Lato;
  margin: -0.1rem 0 0 0;
  padding: 0;
  background: linear-gradient(
    327deg,
    #1869b7,
    #8e50d5,
    #3d888c,
    #3b85b7,
    #8458a7,
    #31836e
  );
  background-size: 1200% 1200%;
  animation: gradient 20s ease infinite;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

/* --- Animation --- */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  --bs-navbar-toggler-icon-bg: url() !important;
  --bs-navbar-toggler-border-color: transparent !important;
  opacity: 0.58;
}

.container {
  padding: 0;
}

.boxes {
  grid-gap: 10px;
}

.main-weather-box,
.humidity-box,
.date-box {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(30px);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 70px;
}

@media (max-width: 900px) {
  form {
    margin-top: 10px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
